@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;}

.clear{clear:both;border:none;margin:0px;}

.bold{font-weight:bold;}
.italic{font-style:italic;}
.center{text-align:center;}

a img{border:0px;}

html,body{
width:760px;
margin-left:auto;
margin-right:auto;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;}

#header{
 position: relative;
 width: 760px;
 height:200px;
 background-image: url(pictures/header-euro-2012.png);   
}

#userProfilBackground,#userProfilData{
position: absolute;
right: 0px;
top: 25px;
height: 130px; /** 150 - padding*2*/
width: 230px; /** 250 - padding*2*/
padding: 10px;
}

#userProfilBackground{
background-color: #fff;
opacity : 0.8;
-moz-opacity : 0.8;
-ms-filter: "alpha(opacity=80)"; /* IE 8 */
filter : alpha(opacity=80); /* IE < 8 */
border-radius: 10px 0 0 10px;
}

#userProfilData .title{
    font-size: 14px;
}

#userProfilData .score{
    background-image: url(pictures/icon_score.png);
    background-repeat: no-repeat;
    background-position: 5px 0px;
    height: 25px;
    padding-left: 25px;
    padding-top: 2px;
}

#footer{
 width: 760px;
 height:150px;
 background-image: url(pictures/footer-euro-2012.png);   
}


.match{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #8fab3f;
}

.match .matchDate{
    display: inline-block;
    width: 200px;
}

.match .matchTeamA, .match .matchTeamB{
    display: inline-block;
    width: 120px;
}

.match .matchTeamA{
    text-align: right;
    padding-right: 5px;
}

.match .matchTeamB{
    text-align: left;
    padding-left: 5px;
}

.match .matchScore, .match .matchScoreEnd, .match .matchScoreInput{
    display: inline-block;
    width: 250px;
    padding-bottom: 2px;
    text-align: center;
    cursor: pointer;
}

.match .matchScore:hover{
    background-color: #ccff99;
}

.match .matchScoreEnd{
    cursor: default;
    border:none;
}

.match .matchScoreInput{
  cursor: default;
  border:none;
  background:none;
  display: none;
}
.win{
    background-color: #8ae234;
}

.loose{
    background-color: #ef2929;
}